<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parcials/favicon.html') %>
    <title>Articulos</title>
    <%- include('parcials/linksandscripts.html') %>
</head>
<body>
    <%- include('parcials/navegator.html') %>
    <%- include('parcials/caroulsel.html') %>
    <main>
        <section>
            <article>
                <br>
                <h1 style="text-align: center;">Proximamente Mas Contenido</h1>
                <p style="text-align: center;">Por cuestiones de pereza, no he podido completar esta paginas espero algun dia poderla acabar...</p>
                <p style="text-align: center;">Pdta: Este Ojo te avisara cuando este disponible 👁</p>
                <p style="text-align: center;">2da Pdta: No le mires el ojo tanto tiempo porque, puede pasar algo... creo.</p>
                <hr>
                <img id="Bienvenido" src="/img/ojo.gif" class="img-fluid" alt="Proximamente...Quien Sabe :v">
                <hr>
            </article>
        </section>
    </main>
    <%- include('parcials/footer.html') %>
</body>
</html>