<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviado</title>
    <%- include('parcials/favicon.html') %>
    <%- include('parcials/linksandscripts.html') %>
</head>
<body>
<%- include('parcials/navegator.html') %>
<%- include('parcials/caroulsel.html') %>
    <br>
<main>
    <section>
        <article>
            <h1 style="text-align: center;">Enviado</h1>
            <p style="text-align: center;">¡Muchas gracias por tus comentarios!</p>
            <hr>
            <img id="Bienvenido" src="/img/pokimon.gif" class="img-fluid" alt="Mew dando vueltas">
            <hr>
        </article>
    </section>
</main>
<%- include('parcials/footer.html') %>
</body>
</html>