<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parcials/favicon.html') %>
    <title>Contacto</title>
    <%- include('parcials/linksandscripts.html') %>
</head>
<body>
    <%- include('parcials/navegator.html') %>
    <%- include('parcials/caroulsel.html') %>
    <hr>
    <p style="text-align: center;">Si tienes alguna opinion o queja, puedes mandermela llenando este formulario 😉</p>
    <%- include('parcials/singup.html') %>
    <hr>
    <%- include('parcials/footer.html') %>
</body>
</html>