<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parcials/favicon.html') %>
    <title>Elkin Panameño</title>
    <%- include('parcials/linksandscripts.html') %>
</head>
<body>
    <%- include('parcials/navegator.html') %>
    <%- include('parcials/caroulsel.html') %>
    <section>
        <article>
            <br><h1 style="text-align: center;">¡Bienvenidos a mi Pagina!</h1>
            <p class="lead" id="presentacion">
                Soy tu amigo y compañero Elkin Panameño. Bienvenido a mi pagina web, 
                la cual es pensada para el proyecto final del curso de MisionTIC2022.
            </p>
        </article>
    </section>
        <hr>
            <br>
                <img id="Bienvenido" src="/img/welcome.png" class="animate__heartBeat" alt="¡Bienvenidos!">
            <hr>
                <%- include('parcials/footer.html') %>
</body>
</html>