<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('parcials/favicon.html') %>
    <title>Redes Sociales</title>
    <%- include('parcials/linksandscripts.html') %>
</head>
<body>
    <%- include('parcials/navegator.html') %>
    <%- include('parcials/caroulsel.html') %>
    <main>
        <section>
            <article>
                <br>
                <h1 style="text-align: center;">Mis Redes Sociales</h1>
                <p style="text-align: center;">En esta pagina tienen mis redes sociales, por si quieren saber mas de mi</p>
                <hr>
                    <%- include('parcials/botones_redes.html') %>
                <hr>
            </article>
        </section>
    </main>
    <%- include('parcials/footer.html') %>
</body>
</html>